# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
.env

kubernetes/django-pod.yaml
kubernetes/django-clearsessions-pod.yaml
kubernetes/docker-compose.db.yml

kubernetes/django-secret.yaml
